#post-detail-wrapper{
    background-color:wheat;
    margin: 20px 40px;
    border-radius: 15px;
    padding: 15px;
}
.inline{
    display: inline-block;
}
#back-icon{
    position: relative;
    left: -300px;
    top: -5px;
}
.id,#title{
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    word-spacing: 1px;
    letter-spacing: 0.8px;
}

#description{
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    word-spacing: 1px;
    letter-spacing: 0.8px;
}

.highlight{
    color: rgb(201, 121, 161);
}